@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
@font-face {
  font-family: "Calibri";
  src: url(/fonts/Calibri_-_Regular.ttf);
}
@font-face {
  font-family: "Noto Serif Devanagari";
  src: url(/fonts/Noto_Serif_Devanagari_-_Regular.ttf);
}
@font-face {
  font-family: "Noto Serif Gujarati";
  src: url(/fonts/Noto_Serif_Gujarati_-_Regular.ttf);
}
