.block_ {
  color: #1F3864;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_1 {
  display: block;
  font-size: 0.75em;
  line-height: 1.08;
  margin: 0 0 5pt;
  padding: 0;
}
.block_2 {
  display: block;
  font-size: 0.75em;
  line-height: 1.08;
  margin: 0 0 5pt 11pt;
  padding: 0;
}
.block_3 {
  color: #000;
  display: block;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_4 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_5 {
  display: block;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_6 {
  color: #1F3864;
  display: block;
  font-size: 2em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_7 {
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_8 {
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_9 {
  color: #1F3864;
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_10 {
  display: block;
  font-size: 0.75em;
  text-indent: 72pt;
  margin: 0 0 0 108pt;
  padding: 0;
}
.block_11 {
  display: block;
  font-size: 0.75em;
  text-indent: 36pt;
  margin: 0 0 0 108pt;
  padding: 0;
}
.block_12 {
  display: block;
  font-size: 0.75em;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_13 {
  color: #1F3864;
  display: block;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_14 {
  color: #1F3864;
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_15 {
  color: #000;
  display: block;
  font-size: 1em;
  margin: 0 0 8pt;
  padding: 0;
}
.block_16 {
  color: #000;
  display: block;
  font-family: serif;
  font-size: 1em;
  margin: 0 0 8pt;
  padding: 0;
}
.block_17 {
  color: #000;
  display: block;
  font-size: 1em;
  text-indent: 36pt;
  margin: 0 0 8pt 432pt;
  padding: 0;
}
.block_18 {
  color: #000;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.block_19 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0 0 8pt;
  padding: 0;
}
.block_20 {
  color: #000;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_21 {
  color: #000;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_22 {
  color: #000;
  display: block;
  font-size: 0.75em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_23 {
  display: block;
  font-size: 0.75em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_24 {
  color: #000;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 0.75em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_25 {
  display: block;
  font-size: 0.75em;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_26 {
  color: #000;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_27 {
  color: #000;
  display: block;
  font-size: 0.75em;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_28 {
  color: #000;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_29 {
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_30 {
  display: block;
  font-size: 1.66667em;
  line-height: 1.2;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_31 {
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.block_32 {
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_33 {
  display: block;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_34 {
  color: #FFF;
  display: block;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.125em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_35 {
  display: block;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.125em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_36 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_37 {
  color: #FFF;
  display: block;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.66667em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_38 {
  display: block;
  font-family: serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.block_39 {
  display: block;
  font-size: 1em;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_40 {
  display: block;
  font-size: 1em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_41 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_42 {
  display: block;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 0.75em;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_43 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_44 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin: 0 0 8pt;
  padding: 0;
}
.calibre {
  color: #231F20;
  display: block;
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre2 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre3 {
  height: 728pt;
  width: 553pt;
}
.calibre4 {
  height: 723pt;
  width: 553pt;
}
.calibre5 {
  display: table-row-group;
  line-height: 1.2;
  vertical-align: middle;
}
.calibre6 {
  display: table-row;
  line-height: 1.2;
  vertical-align: inherit;
}
.calibre7 {
  white-space: pre-wrap;
}
.tab {
  white-space: pre-wrap;
}
.tab1 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: -0.4pt;
  margin-top: 0;
  text-indent: 0;
  width: 295pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: -0.25pt;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_ {
  background-color: transparent;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: middle;
  width: 179pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_1 {
  background-color: transparent;
  border-left-style: none;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: middle;
  width: 116pt;
  padding: 0 0 0 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_2 {
  background-color: transparent;
  border-top-style: none;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: middle;
  width: 179pt;
  padding: 0.5ex 0 0;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_3 {
  background-color: transparent;
  border-left-style: none;
  border-top-style: none;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: middle;
  width: 116pt;
  padding: 0.5ex 0 0 5.75pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_4 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 86.4pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_5 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 47.9pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_6 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 411pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_7 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 86.4pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_8 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 47.9pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_9 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 411pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_10 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 86.4pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_11 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 47.9pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_12 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 411pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_13 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_14 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_15 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_16 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_17 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_18 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_19 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 176pt;
  padding: 0 0 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_20 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 27.8pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_21 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 175pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_22 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 28.5pt;
  padding: 0 2.5pt 0 0;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_23 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 407pt;
  padding: 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_24 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 175pt;
  padding: 0 0 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_25 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 28.5pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_26 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 176pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_27 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 27.8pt;
  padding: 0 2.5pt 0 0;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_28 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 410pt;
  padding: 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_29 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 409pt;
  padding: 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_30 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 24.8pt;
  padding: 0 0 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_31 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 385pt;
  padding: 0 2.5pt 0 0;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_32 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 110pt;
  padding: 0 0 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_33 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 26.2pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_34 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 21.8pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_35 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 110pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_36 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 24.8pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_37 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 22.5pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_38 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 18pt;
  padding: 0 0 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_39 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 18pt;
  padding: 0 2.5pt 0 0;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_40 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 106pt;
  padding: 0 0 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_41 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 23.2pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_42 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_43 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 25.5pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_44 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 18pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_45 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 17.2pt;
  padding: 0 2.5pt 0 0;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_46 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 27pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_47 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 106pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_48 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  width: 405pt;
  padding: 0 2.5pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.text_ {
  color: #000;
  line-height: 1.2;
}
.text_1 {
  color: #0563C1;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.text_2 {
  color: #0563C1;
  line-height: 1.2;
  text-decoration: underline;
}
.text_3 {
  font-family: "Noto Serif Gujarati", serif;
  line-height: 1.2;
}
.text_4 {
  font-family: "Noto Serif Devanagari", serif;
  line-height: 1.2;
}
.text_5 {
  font-family: "Cambria", serif;
  line-height: 1.2;
}
.text_6 {
  font-family: "Shruti", sans-serif;
  line-height: 1.2;
}
.text_7 {
  font-family: "Arial", sans-serif;
}
.text_8 {
  font-family: "Noto Serif Gujarati", serif;
}
.text_9 {
  color: #000;
  font-size: 1em;
}
.text_10 {
  color: #FFF;
  font-size: 1.5em;
  line-height: 1.2;
}
.text_11 {
  color: #000;
  font-size: 1.33333em;
}
.text_12 {
  color: #FFF;
  font-size: 2.66667em;
  line-height: 1.2;
}
.text_13 {
  font-family: "Arial", sans-serif;
  font-size: 1em;
}
.text_14 {
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1em;
}
.text_15 {
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1.33333em;
}
.text_16 {
  font-size: 1em;
}
.text_17 {
  font-size: 1.33333em;
}
.text_18 {
  font-family: sans-serif;
  font-size: 0.77778em;
}
.text_19 {
  color: #1F3864;
  font-size: 1.88889em;
  line-height: 1.2;
}
.text_20 {
  color: #231F20;
  font-size: 1.33333em;
}
.text_21 {
  color: #231F20;
  font-size: 2.22222em;
  line-height: 1.2;
}
.text_22 {
  color: #231F20;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.5em;
  line-height: 1.2;
}
.text_23 {
  color: #231F20;
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1.88889em;
  line-height: 1.2;
}
.text_24 {
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.33333em;
}
.text_25 {
  color: #231F20;
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1.33333em;
}
.text_26 {
  color: #FFF;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.5em;
  line-height: 1.2;
}
.text_27 {
  color: #1F3864;
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1.88889em;
  line-height: 1.2;
}
.text_28 {
  font-size: 1.88889em;
  line-height: 1.2;
}
.text_29 {
  color: #231F20;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.33333em;
}
.text_30 {
  color: #231F20;
  font-size: 1.5em;
  line-height: 1.2;
}
.text_31 {
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1em;
}
.text_32 {
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.5em;
  line-height: 1.2;
}
.text_33 {
  font-family: "Noto Serif Gujarati", serif;
  font-size: 1.88889em;
  line-height: 1.2;
}
.text_34 {
  font-size: 1.5em;
  line-height: 1.2;
}
.text_35 {
  color: #231F20;
  line-height: 1.2;
}
.text_36 {
  color: #FFF;
  line-height: 1.2;
}
.text_37 {
  color: #231F20;
  font-family: "Noto Serif Gujarati", serif;
  font-size: 2.22222em;
  line-height: 1.2;
}
.text_38 {
  color: #231F20;
  font-size: 1.88889em;
  line-height: 1.2;
}
.text_39 {
  color: #2F5496;
  font-size: 2.66667em;
  line-height: 1.2;
}
.text_40 {
  color: #1F3864;
  font-size: 2.66667em;
  line-height: 1.2;
}
.text_41 {
  color: #1F3864;
  font-family: "Noto Serif Gujarati", serif;
  font-size: 2.66667em;
  line-height: 1.2;
}
.text_42 {
  font-family: "Times New Roman", serif;
  font-size: 1.33333em;
}
.text_43 {
  font-family: "Cambria", serif;
  font-size: 1.33333em;
}
.text_44 {
  color: #FFF;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 2.22222em;
  line-height: 1.2;
}
.text_45 {
  color: #FFF;
  font-size: 2.22222em;
  line-height: 1.2;
}
.text_46 {
  color: #231F20;
  font-size: 2.66667em;
  line-height: 1.2;
}
.text_47 {
  color: #231F20;
  font-family: sans-serif;
  font-size: 1.33333em;
}
.text_48 {
  color: #231F20;
  font-size: 1em;
}
.text_49 {
  color: #231F20;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1em;
}
.text_50 {
  font-size: 0.55556em;
}
.text_51 {
  font-family: sans-serif;
}
