.block_ {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_1 {
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_2 {
    display: block;
    font-size: 0.75em;
    line-height: 1.15;
    margin: 0 0 5pt;
    padding: 0
    }
.block_3 {
    display: block;
    font-size: 0.75em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_4 {
    color: #3C2B99;
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_5 {
    color: #3C2B99;
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_6 {
    color: #3C2B99;
    display: block;
    font-family: serif;
    font-size: 1.66667em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_7 {
    color: #FFF;
    display: block;
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_8 {
    display: block;
    font-family: serif;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_9 {
    display: block;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_10 {
    color: #FFF;
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_11 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_12 {
    display: block;
    font-size: 1em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_13 {
    display: block;
    font-size: 0.75em;
    line-height: 1.08;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_14 {
    display: block;
    font-size: 1.125em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_15 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_16 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_17 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_18 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.08;
    text-indent: 36pt;
    margin: 0 0 8pt;
    padding: 0
    }
.block_19 {
    color: #2F5496;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.block_20 {
    color: #FFF;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_21 {
    display: block;
    font-family: "Calibri", sans-serif;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_22 {
    color: #2F5496;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.block_23 {
    color: #2F5496;
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.block_24 {
    display: block;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.block_25 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin: 0;
    padding: 0
    }
.block_26 {
    color: #000;
    display: block;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_27 {
    color: #000;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_28 {
    color: #FFF;
    display: block;
    font-family: serif;
    font-size: 1.41667em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_29 {
    color: #696900;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.125em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_30 {
    color: #87160A;
    display: block;
    font-family: serif;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_31 {
    display: block;
    font-family: serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_32 {
    color: #98180B;
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_33 {
    color: #151616;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.41667em;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.calibre {
    color: #231F20;
    display: block;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    line-height: 1.2
    }
.calibre3 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre4 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    white-space: pre-wrap
    }
.tab {
    line-height: 1.2;
    white-space: pre-wrap
    }
.text_ {
    font-family: "Calibri", sans-serif;
    font-size: 1em
    }
.text_1 {
    color: #3C2B99;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 2.22222em;
    line-height: 1.2
    }
.text_2 {
    color: #696900;
    font-family: "Cambria", serif;
    font-size: 1.5em;
    line-height: 1.2
    }
.text_3 {
    color: #0563C1;
    line-height: 1.2;
    text-decoration: underline
    }
.text_4 {
    font-family: "Noto Serif Gujarati", serif;
    line-height: 1.2
    }
.text_5 {
    font-family: "AkrutiGujAkshataNormal-Identity", sans-serif;
    line-height: 1.2
    }
.text_6 {
    color: #FFF;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 2.44444em;
    font-weight: bold;
    line-height: 1.2
    }
.text_7 {
    color: #FFF;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 2.44444em;
    font-weight: bold;
    line-height: 1.2
    }
.text_8 {
    color: #FFF;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 2.66667em;
    font-weight: bold;
    line-height: 1.2
    }
.text_9 {
    color: #FFF;
    font-family: "AkrutiGujMograBold-Identity-H", sans-serif;
    font-size: 2.66667em;
    font-weight: bold;
    line-height: 1.2
    }
.text_10 {
    color: #DD2B1C;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 2.44444em;
    font-weight: bold;
    line-height: 1.2
    }
.text_11 {
    color: #DD2B1C;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 2.44444em;
    font-weight: bold;
    line-height: 1.2
    }
.text_12 {
    color: #063;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_13 {
    color: #063;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_14 {
    color: #3C2B99;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_15 {
    color: #3C2B99;
    font-family: "AkrutiGujRajaniBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_16 {
    color: #8D003C;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_17 {
    color: #8D003C;
    font-family: "AkrutiGujSabarmatiBold-Identity", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_18 {
    color: #FFF;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_19 {
    color: #FFF;
    font-family: "AkrutiGujMamataBold-Identity-H", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_20 {
    color: #00A759;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_21 {
    color: #00A759;
    font-family: "AkrutiGujMamataBold-Identity-H", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_22 {
    color: #063;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_23 {
    color: #063;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_24 {
    color: #DD2B1C;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_25 {
    color: #DD2B1C;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_26 {
    color: #3C2B99;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_27 {
    color: #87160A;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_28 {
    color: #87160A;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_29 {
    color: #AE1EA3;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_30 {
    color: #AE1EA3;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_31 {
    color: #E10886;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_32 {
    color: #E10886;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_33 {
    color: #3C2B99;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_34 {
    color: #3C2B99;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_35 {
    color: #DD2B1C;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 2.22222em;
    font-weight: bold;
    line-height: 1.2
    }
.text_36 {
    color: #DD2B1C;
    font-family: "AkrutiGujRajaniBold-Identity-H", sans-serif;
    font-size: 2.22222em;
    font-weight: bold;
    line-height: 1.2
    }
.text_37 {
    color: #FFF;
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 1em;
    font-weight: bold
    }
.text_38 {
    color: #FFF;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 2.22222em;
    font-weight: bold;
    line-height: 1.2
    }
.text_39 {
    color: #FFF;
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 2.22222em;
    font-weight: bold;
    line-height: 1.2
    }
.text_40 {
    color: #231F20;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_41 {
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_42 {
    font-family: "AkrutiGujLekha,Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_43 {
    color: #231F20;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_44 {
    font-family: "Calibri", sans-serif;
    line-height: 1.2
    }
.text_45 {
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_46 {
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_47 {
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_48 {
    color: #231F20;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_49 {
    color: #231F20;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    line-height: 1.2
    }
.text_50 {
    color: #FFF;
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_51 {
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_52 {
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    line-height: 1.2
    }
.text_53 {
    font-family: "Times New Roman", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_54 {
    font-family: "Times New Roman", serif;
    font-size: 1em
    }
.text_55 {
    color: #231F20;
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_56 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_57 {
    font-size: 1.5em;
    line-height: 1.2
    }
.text_58 {
    color: #231F20;
    line-height: 1.2
    }
.text_59 {
    color: #000;
    line-height: 1.2
    }
.text_60 {
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_61 {
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_62 {
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 1em;
    font-weight: bold
    }
.text_63 {
    color: #231F20;
    font-family: "Calibri", sans-serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_64 {
    font-family: "AkrutiDevRahul,Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_65 {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_66 {
    font-family: "Times New Roman", serif;
    line-height: 1.2
    }
.text_67 {
    color: #231F20;
    font-family: "Times New Roman", serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_68 {
    font-family: "Cambria", serif;
    line-height: 1.2
    }
.text_69 {
    color: #2F5496;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_70 {
    font-family: "Arial", sans-serif;
    line-height: 1.2
    }
.text_71 {
    color: #231F20;
    font-family: "MonotypeCorsiva,Italic", sans-serif;
    font-size: 1.33333em;
    font-style: italic;
    line-height: 1.2
    }
.text_72 {
    font-family: "MonotypeCorsiva,Italic", sans-serif;
    font-style: italic;
    line-height: 1.2
    }
.text_73 {
    font-family: "AkrutiGujMangal,Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_74 {
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_75 {
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_76 {
    font-family: "Calibri", sans-serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_77 {
    font-family: "Calibri", sans-serif;
    font-size: 0.77778em
    }
.text_78 {
    font-family: "Wingdings3", sans-serif;
    line-height: 1.2
    }
.text_79 {
    color: #000;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_80 {
    color: #000;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_81 {
    font-family: "AkrutiDevYogini,Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_82 {
    color: #231F20;
    font-family: "Calibri", sans-serif;
    font-size: 1em
    }
.text_83 {
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_84 {
    color: #231F20;
    font-family: sans-serif;
    line-height: 1.2
    }
.text_85 {
    color: #231F20;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_86 {
    color: #231F20;
    font-family: "AkrutiGujChitra,Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_87 {
    color: #3C2B99;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_88 {
    color: #3C2B99;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_89 {
    color: #DD2B1C;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_90 {
    color: #DD2B1C;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_91 {
    color: #00612D;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_92 {
    color: #00612D;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_93 {
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_94 {
    color: #A83D40;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_95 {
    color: #A83D40;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_96 {
    color: #3D4094;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_97 {
    color: #3D4094;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_98 {
    color: #063;
    font-family: "Noto Serif Gujarati", serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_99 {
    color: #063;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
.text_100 {
    color: #3C2B99;
    font-family: "AkrutiGujKetakiBold-Identity-H", sans-serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_101 {
    color: #3C2B99;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_102 {
    color: #3C2B99;
    font-family: "AkrutiGujKetakiNormal-Identity-", sans-serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_103 {
    color: #686868;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_104 {
    color: #686868;
    font-family: "AkrutiGujChitraBold-Identity-H", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_105 {
    color: #87160A;
    font-family: "AkrutiGujShyamaBold-Identity-H", sans-serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_106 {
    color: #87160A;
    font-family: "Noto Serif Gujarati", serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2
    }
.text_107 {
    font-family: "AkrutiGujSabarmatiBold-Identity", sans-serif;
    font-weight: bold;
    line-height: 1.2
    }
