@font-face {
	font-family: "Noto Serif Gujarati";
	src: url('../../../../fonts/Noto Serif Gujarati - Regular.ttf')
}


@font-face {
	font-family: "Noto Serif Gujarati";
	font-weight: bold;
	src: url('../../../../fonts/Noto Serif Gujarati - Bold.ttf')
}
